.stickyBar {
  top:0;
  position: fixed !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  //position: static !important;
}
.stickyBar Button {
  text-transform: none;
}
.stickyBar.iphonex_nav {
  padding-top: 30px !important;
  height: 80px !important;
}
